<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ site.title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#presentation">Presentation</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Header -->
<div class="intro-header">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>{{ page.title }}</h1>
                    <h3>{{ page.subTitle }}</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <a href="https://play.google.com/store/apps/details?id=be.brunoparmentier.openbikesharing.app">
                            <img alt="Get it on Google Play" src="{{ site.url }}/img/en_generic_rgb_wo_45.png" /></a>
                        <a href="https://f-droid.org/repository/browse/?fdid=be.brunoparmentier.openbikesharing.app">
                            <img alt="Available on F-Droid" src="{{ site.url }}/img/F-Droid-button_smaller.png" /></a>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->
